<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>City Name</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
		<% @cities.each do |city| %>
			<tr>
				<td><%= city.id %></td>
				<td><%= city.name %></td>
				<td>
					<%= link_to "View", city_path(city) %>
					<%= link_to 'Edit', edit_city_path(city) %>
					<%= link_to "Destoy", city_path(city), :method => :delete, data: { confirm: "Are you sure you want to destoy"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add City", new_city_path %>